<%- include('layouts/header.ejs') %>

<div class="container">
  <div class="row">
      <div class="col text-center text-white">
          <h3><strong>Dreamer Resource Center-Peer Mentor</strong></h3>
      </div>
  </div>
  <div class="row">
      <div class="col-4 text-center text-white">
          <img class="img-thumbnail" src="public/Picturess/Dreamer.jpg" alt="tamusa" width="100%">
      </div>
      <div class="col-4 text-white">
          <br>
          <ul>
           
        <li> <p>Offer support to Dreamers on campus through Peer Mentoring</p></li>
        <li> <p>Advocated for needs specific top Dreamers on Campus to help bridge the gap.</p></li>
        <li> <p>Support Dreamers in there personal/professional developement</p></li>
        <li><p>Advocate for Dreamers to recieve the same opprtunities as our peers </p> </li>
      </ul>
      </div>
      <div class="col-4 text-center my-auto text-white">
          <h5>September 2021 - Present</h5>
      </div>
  </div>
</div>


<hr>


<div class="container">
  <div class="row">
      <div class="col text-center text-white">
          <h3><strong>Cisneros Institute Peer Mentor</strong></h3>
      </div>
  </div>
  <div class="row">
      <div class="col-4 text-center">
          <img src="public/Picturess/download.png" alt="tamusa" width="100%">
      </div>
      <div class="col-4 text-white">
          <br>
          <ul>
              <li>
                  <p>Provide support of the prepartion and execution of the summer residential poragm for local high school student, and serve as a peer mentor</p>
              </li>
              <li>
                  <p>Led guided reflections and team bulding activities during the Tranformational Leadership Academy</p>
              </li>
              <li>
                  <p>Assisted in planning programming and activities that target specific themes  related to leadership</p>
              </li>
          </ul>
      </div>
      <div class="col-4 text-center my-auto text-white">
          <h5>May 2022- Current</h5>
      </div>
  </div>
</div>

<div class="container">
<div class="row">
    <div class="col text-center text-white">
        <h3><strong>CodeTheDream Program Intern</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
      <br>
        <img src="public/Picturess/ctd2.png" alt="tamusa" width="100%" height="110px">
    </div>
    
    <div class="col-4 text-white">
        <br>
        <ul>
            <li>
                <p>Assist with data collections, and creating web-pages</p>
            </li>
            <li>
                <p>Assist with new student onboarding</p>
            </li>
            <li>
                <p>Help evaluate and assess student pre-work from a CS student perspective</p>
            </li>
        </ul>
    </div>
    <div class="col-4 text-center my-auto text-white">
        <h5>August 2022 - December 2022</h5>
    </div>
</div>
</div>
