<%- include('layouts/header.ejs') %>

    <div class="container">
      <div class="row">
        <div class="col-4 text-center text-white">
          <h3><strong>Dreamer Resource Center</strong></h3>
        </div>
        </div>
        <div class="row"> 
        <div class="col-4 text-center">  
          <img class="drc" src="Dreamer.jpg" alt="tamusa" width="60%">
          </div>
           <div class="col-4">
             <br>
          <ul>
        <li> 
      <p>Worked closely with High School students to complete outstanding requirments</p>
    </li>
    <li> <p>Offer support to Dreamers on campus through Peer Mentoring</p></li>
    <li> <p>Advocated for needs specific top Dreamers on Campus to help bridge the gap.</p></li>
    <li> <p>Support Dreamers in there personal/professional developement</p></li>
    <li><p>Advocate for Dreamers to recieve the same opprtunities as our peers </p> </li>
  </ul>
</div>
         

        </div>
   
      <br>
      <br>
      <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>