<%- include('layouts/header.ejs') %>

<div class="container">
  <h1 class="es text-white " style="font-size: 70px; text-shadow: 11px 12px rgb(11, 11, 11);">Projects</h1>
  <div class="row">
      <div class="col-md-4 project text-white style="background-color: darkgray; justify-content: center;">
         <img src="public/Picturess/code.png" style="margin-left: 140px;">
         <br>
          <h4 style="margin-left: 87px;">Veterans CodeAThon</h4>
          <p >
               Built an Android application during the Veternas CodeAThon.
               Used FireBase Authentication enabling the user to create, login,
               or recover their account. Specifically worked on UX/UI of the initial login page using XML, and Java
               Used XML, Android Studios, Java, and FireBase
          </p>




      </div>
      <div class="col-md-4 project text-white" style="background-color: darkgray;">
          <img src="public/Picturess/decison.png" style="margin-left: 140px;">
          <h4 style="margin-left: 97px;">Fake news Detector</h4>
          
          <p>Used multiple algorithms such as Logistics Regression, Decision Tree Classifier,
               COnfusion Matrix and Multinomial NB to classier fake news using Binary inputs </p>


      </div>
      

      <div class="col-md-4 project text-white style="background-color: rgb(49, 47, 47);  justify-content: center;">
        <img src="public/Picturess/code.png" style="margin-left: 140px;">
        <br>
         <h4 style="margin-left:130px;">Web Scraper</h4>
         <p>
              Build a webscraper in Python using the Beautiful Soup Library used to retrieve data from various website.
              Data is utilized through various Data Analytics projects.
         </p>




     </div>




  </div>


      <br>
      <br>
      <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>